html {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    
}

a {
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 10%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    margin-right: auto;
    padding-left: 10px;
    transform: scale(1.5);
}

body {
    background: #1b7465b2;
  }

.container {
    position: relative;
    justify-content: center;
}

.project1 {
    position: absolute;
    margin-top: 20%;
    margin-left: 42%;
    transform: scale(0.7);
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
}

.project2 {
    position: absolute;
    margin-top: 10%;
    margin-left: 40%;
    transform: scale(0.7);
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
}

.project3 {
    position: absolute;
    margin-top: 30%;
    margin-left: 43.5%;
    transform: scale(0.7);
    cursor: pointer;
    transition-duration: 0.5s;
    color: white;
    max-width: 150px;
}

.description {
position: absolute;
visibility: hidden;
margin-top: 15px;
width: 200px;
color: rgb(255, 255, 255);
transform:scale(0.9)
}

.project1:hover #fade1 {
    visibility: visible;
}

.project2:hover #fade2 {
    visibility: visible;
}


.project3:hover #fade3 {
    visibility: visible;

}


#fade1 {
    position: absolute;
    width: 400px;
    left: -80%;
    text-align: center;
}

#fade2 {
    position: absolute;
    width: 400px;
    left: -50%;
    text-align: center;
}
#fade3 {
    position: absolute;
    width: 600px;
    left: -240%;
    text-align: center;
}


.Password {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(70%, 280%);
}

.boring {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(70%, 500%);
}


.coffee{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(70%, 710%);
}



.github p {
    margin-top: 25px;
    text-align: center;

    -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera < 12.1 */
            animation: fadein 10s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}